/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
	background-color: #e8e8e8;
}

p, li {
	font-family: Arial;
	color: #273d46;
}

.container {
	margin: 0 auto;
	max-width: 840px;
	margin-top: 80px;
}

.container p {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.25em;
}

ul {
	margin-top: 25px;
}

li {
	font-size: 1.5em;
	margin-top: 13px;
	background: url('E:/Документы/Глеб/FLS/css_5/Source/check icon.png') no-repeat;
	background-position: 0 50%;
	padding-left: 35px;
}

.before li:first-child {
	text-decoration: line-through;
}

.before li:nth-child(2){
	font-weight: 700;
}

.before li:nth-child(3) {
	font-style: italic;
}

.before li:last-child {
	text-transform: uppercase;
}

.after li:nth-child(2):hover {
	color: #d55a5a;
	background: url('E:/Документы/Глеб/FLS/css_6/Source/check icon_hover.png') no-repeat;
}

a {
	margin-left: 30px;
}

.btn {
	letter-spacing: 0.2em;
	font-famiLy: 'Arial';
	background: #80b7b3;
	color: #fff;
	border-radius: 50px;
	display: block;
	box-shadow: 1px 1px 30px #80b7b3;
	width: 205px;
	padding: 15px 0px 15px 0px;
	text-align: center;
	text-decoration: none;
/*	transition: 0.5s all ease;*/
}

.btn:hover {
	background: #3a5856;
}

.btn:active {
	background: #818181;
	box-shadow: none;
}

form {
	padding: 0px 0px 100px 0px;
}

input {
	min-width: 260px;
	border: 1px solid #b0b0b0;
	padding: 15px 20px 15px 20px;
}

input:focus {
	border: 1px solid #7fbed5;
	box-shadow: 1px 1px 15px #7fbed5;
}